h1{text-align:center;color:rgb(10, 22, 128);font-size: 30px; }
h2 {text-align:center;font-family:'Times New Roman', Times, serif;font-style: italic; color: rgb(10, 22, 128);font-size:25px;border-bottom-style:  solid;padding:3px;}
ul {
    list-style-type:none;
    margin: 3;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float:left;
  }
  
  li a {
    display:table;
    color: rgb(10, 22, 128);
    text-align: center;
    padding: 14px,16px;
    text-decoration:none;
    width:240px;
    ;text-shadow: -1px 0 rgb(195, 218, 238), 0 1px rgb(195, 218, 238), 1px 0 rgb(195, 218, 238), 0 -1px rgb(195, 218, 238);
    font-weight:bolder;
  }
  
  li a:hover {
    background-color: rgb(220, 241, 241)}
h3{text-align: left;color: rgb(10, 22, 128);font-size:20px;border-bottom-style:dashed; border-color: rgb(203, 203, 247);border-width: 1.5px;padding:2px}
div{
  width: 95%;
  padding:10px;
  margin:10px;
  font-family:'Times New Roman', Times, serif;
  font-style:normal;
  text-indent: 15px;
  color: rgb(10, 22, 128);
  font-size:19px;
  box-shadow: 10px 10px 5px grey;
  background-color:rgb(199, 226, 230)
}
p{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif larger; 
    text-indent:30px;
    line-height:3}
   
    body{background-image:url("images/background2.jpg");
      background-size:cover;}
      h4{font-size:16px;color:rgb(92, 107, 128);border-top: 1.5px solid;font-weight: normal;font-family: 'Times New Roman', Times, serif;}
